
.table > tr > th {
    padding-right: 20px;
    text-align: left;
    vertical-align: top;
}

.table {
    vertical-align: top;
}


.transfer-table > tr > th {
    padding-right: 20px;
    text-align: left;
}