@import url(../css/main.css);
@import url(../css/desktop.css);

/* default */
nav{
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0px;
  transition: linear 300ms;
  z-index: 90;
  text-decoration: none;
  background-color: var(--color-f);
  color: var(--color-a);
}

.nav-logo{
    height: 70px;
    width: auto;
    padding: 7px 20px 3px 20px;
}

.menu-icon{
    height: 30px;
    width: auto;
    padding: 5px;
}

.navDesktop{
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content: space-around;
  align-items: center;
  transition: linear 300ms;
  margin-left: 40px;
  font-size: 1.3rem; 
}

.polozkaDesktop{
  padding: 32px;
  border-top: 2px solid rgba(0, 0, 0, 0);
  transition: 0.25s;
  z-index: 100;
  text-decoration: none;
  color: var(--color-a);
}

.polozkaDesktopActive{
    padding: 28px;
    border-top: 2px solid rgba(0, 0, 0, 0);
    transition: 0.25s;
    z-index: 100;
    text-decoration: none;
    color: var(--color-a);
    background-color: var(--color-e);
}

.polozkaDesktop:hover{
  border-top: 2px solid var(--color-a);
  transition: 0.15s;
  transition: ease-in;
}

.hamburger{
  font-size: 2.5rem;
  text-align: center;
  justify-content: flex-end;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  visibility: hidden;
  transition: linear 300ms;
}

/* mobil */ 

@media only screen and (max-width: 760px)
{
  .hamburger{
      visibility: visible;
      transition: 1s;
      margin: auto;
      float: right;
      flex: 15%;
  }

  .navDesktop{
      flex-direction: column;
      display: flex;
      display: none;
      z-index: 100;
      width: 60vw;
      text-align: center;
  }

  .polozkaDesktop{
    width: 100%;
    padding: 20px;
    margin: auto;
  }

  .navLogo{
    font-size: 2.5rem;
    float: left;
    flex: 75%;
  }

  .nav-main{
    align-items: center;
    vertical-align: middle;
    align-content: center;
    background-color: var(--color-h);
    padding-top: 10px;
    padding-bottom: 8px;
  }
}

/* tablet */

@media only screen and (max-width: 1239px) and (min-width: 761px)
{
  .navLogo{
    display: none;
  }

  .nav-main{
    width: 100%;
  }

  .navDesktop{
    margin-left: 0px;
  }
}