.current-state #map{
    width:100%;
    max-width: 60rem;
    margin-inline: 2rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    aspect-ratio: 3/2;
    // background-color: aquamarine;
    overflow:hidden;
}


// #canvas{
//     width:300px;
//     aspect-ratio: 3/2;
//     overflow:hidden;
// }