@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
    width:100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}

*{
    font-family: "Poppins", sans-serif;
    margin:0;
    line-height: 1.8;
    padding:0;
    box-sizing: border-box;
    transition: all .2s ease;
}

h1{
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.container{
    width:100%;
    max-width: 1300px;
    padding-inline: 2rem;
}


a.blue-link {
    color: #0066CC;
    display: inline-block;
    align-self: center;
  }

a.blue-link-un {
    color: #0066CC;
    display: inline-block;
    align-self: center;
  }
  a.blue-link-un::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: #0066CC;
    transition: 300ms;
  }
  a.blue-link-un:hover::after {
    width: 100%;
  }