<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
<title>Ligma Java</title>
</head>
<body>
<div class="topnav">
  <a href="/">Hlavní stránka</a>
  <a href="/map">Mapa</a>
  <a class="active" href="/contact">Kontakt</a>
  <a href="/about">O nás</a>
</div>
<br>
<center>
<a>s-sfrydrych@bisgymbb.cz</a><br><br>
<a>s-vlidl@bisgymbb.cz</a>
</center>
<footer>
Copyright Ligma Java, 2022
</footer>
</body>
</body>
</html>