<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
<title>Ligma Java</title>
</head>
<body>
<div class="topnav">
  <a href="/">Hlavní stránka</a>
  <a class="active" href="/map">Mapa</a>
  <a href="/contact">Kontakt</a>
  <a href="/about">O nás</a>
</div>
<iframe class="render-viewer " src="https://viewscreen.githubusercontent.com/view/geojson?browser=chrome&amp;color_mode=auto&amp;commit=c8592d479bdd3239a5be7fef7131ffe86153513e&amp;device=unknown_device&amp;enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f56564c69646c2f48484b3230323254342f633835393264343739626464333233396135626537666566373133316666653836313533353133652f3634363837332e67656f6a736f6e&amp;logged_in=false&amp;nwo=VVLidl%2FHHK2022T4&amp;path=646873.geojson&amp;platform=linux&amp;repository_id=550826245&amp;repository_type=Repository&amp;version=103#2f22c22a-d2c2-4102-985c-095d5bea012f" sandbox="allow-scripts allow-same-origin allow-top-navigation" title="File display" name="2f22c22a-d2c2-4102-985c-095d5bea012f" style="width:100%;height:800px;">
          Viewer requires iframe.
      </iframe>
<footer>
Copyright Ligma Java, 2022
</footer>
</body>
</body>
</html>